.header {
  background-image: url("/images/landing/landing.jpg");
  background-color: var(--secondary-background-color);
  background-position: center bottom;
  background-size: cover;
  gap: 1rem;
  align-items: center;
  height: 100svh;
  margin-bottom: 4rem;
}

.header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  backdrop-filter: blur(4px) brightness(0.6);
  height: 100%;
  width: 100%;
}

.header nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #333333;
  max-height: 4.5rem;
  width: 100%;
}

.header nav p {
  margin: 0;
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  text-shadow: 2px 2px 1px var(--secondary-background-color);
  padding: 1rem;
  text-align: center;
}

.header nav img {
  padding: 1rem;
}

.header h1 {
  padding: 1rem;
  font-size: 4.3rem;
  text-align: center;
  text-shadow: 2px 2px 8px var(--secondary-background-color);
}

.header button {
  border: none;
  background-color: var(--highlight-color);
  height: 4rem;
  width: 20rem;
  border-radius: 100px;
  margin: auto;
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.titleHighlight {
  color: var(--highlight-color);
}

.bulletList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bulletList img {
  margin-bottom: 2rem;
}

.bulletGroup {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.bulletGroup img {
  width: 100%;
}

.bulletHighlight {
  color: var(--highlight-color);
  font-size: 8rem;
}

.bulletContent {
  font-size: 1.1rem;
  padding: 0.5rem;
}

.stepCard span {
  z-index: 1;
}

.stepCard img {
  width: 10rem;
}

.stepCard p {
  z-index: 1;
  background-color: none;
  background: none;
}

@media only screen and (min-width: 800px) {
  /* For tablets: */
}

@media only screen and (min-width: 1200px) {
  /* For desktop: */
}
