:root {
  /* for RooMe */
  /* Colors */
  --background-color: #222831;
  --secondary-background-color: #393e46;
  --highlight-color: #00adb5;
  --text-color: #eeeeee;

  /* --background-color: #f6f1e9;
  --secondary-background-color: #ffd93d;
  --highlight-color: #ff8400;
  --text-color: #4f200d; */

  --font-family: Times;

  /* Sizes */
  --max-width: 900px;
}

html,
body {
  padding: 0;
  margin: 0;
  height: fit-content;
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  padding: 1rem;
}

hr {
  border: 1px solid var(--secondary-background-color);
  width: 100%;
}

@media only screen and (min-width: 800px) {
  /* For tablets: */
}

@media only screen and (min-width: 1200px) {
  /* For desktop: */
}
